
:root {
    --padding: 15px;
    --primaryColor: rgba(29,161,242,1.00);
  }
  html{
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      margin-bottom: 50px;
  }

  a{
      text-decoration: none;
      -webkit-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      outline: none;
  }
  .navbar .active i{
    color:var(--primaryColor);
    font-weight: bold;
    background: #fffdfd;
  }
.navbar{
    position: fixed;
	bottom: 0;
	height: 50px;
	width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
	background-color: #fffdfd;
	box-shadow: 1px 1px 4px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	z-index: 6;
}
.navbar i{
	color: rgb(91, 112, 131);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 23px;

}
.navbar .touch{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    transition: transform .3s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
}
.navbar .touch:hover{
    animation: touchani 1s;
}
@keyframes touchani{
    0%{
        transform:scale(6);
        background-color: rgb(164, 173, 182);
    }
    100%{
        transform:scale(1);
    }
}